<%= simple_form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.input       :title %><br>
    <%= f.input       :content %><br>
    <%= f.input       :publish_date %><br>
    <%= f.association :user %><br>
    <%= f.submit %>
<% end %>
